body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(178, 194, 239);
  color: white;
}
#quiz_container {
  height: 30%;
  width: 45%;
  background-color: rgb(141, 4, 179);
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 8%;
  padding: 20px;
  border-radius: 25px;
}
h1 {
  color: black;
  margin-left: 0px;
  padding: 10px;
}
ul {
  list-style: none;
  line-height: 2em;
  font-size: 18px;
  margin-left: 0px;
  letter-spacing: 2px;
}
li {
  cursor: pointer;
}
#next {
  font-size: 18px;
  font-weight: 500;
  width: 15%;
  margin-left: 40%;
  padding: 15px;
  border: 2px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(182, 161, 5);
}
